.watch-bg{
    background: #F9FAFB;
}

.watch-para1{
    margin-top: 150px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #1D2939;
    }

.watch-para2{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #475467;
}
